[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/tinyobjloader"]
	path = Dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Dependencies/WavLib"]
	path = Dependencies/WavLib
	url = https://github.com/Mumsfilibaba/WavLib
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/Mumsfilibaba/imgui.git
[submodule "Dependencies/imnodes"]
	path = Dependencies/imnodes
	url = https://github.com/Nelarius/imnodes.git
