# Ignore DS_Store
*.DS_Store

# Ignore all Visual Studio project and solution files
*.sln
*.vcxproj*

#Ignore visual studio hint files
*.hint

# Ignore all Xcode project and workspace solution files
*.pbxproj
*.xcworkspace*
*.xcodeproj*

# Ignore all files in the .vs- and .vscode- folders (Created by Visual Studio)
.vs/
.vscode/

# Ignore all compiled files
Build/

# Ignore all dependency build files
Dependencies/bin/
Dependencies/bin-int/
Dependencies/assimp/bin/

#Other ignored files
*.dot

#Ignore files for settings
*.ini
*.ini
