# Sources
*.c     text eol=lf
*.cc    text eol=lf
*.cxx   text eol=lf
*.cpp   text eol=lf
*.c++   text eol=lf
*.hpp   text eol=lf
*.h     text eol=lf
*.h++   text eol=lf
*.hh    text eol=lf
# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary
# Precompiled Headers
*.gch   binary
*.pch   binary
# Compiled Dynamic libraries
*.so    binary
*.dylib binary
# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.pdb filter=lfs diff=lfs merge=lfs binary
# Executables
*.exe   binary
*.out   binary
*.app   binary
# Exclude vendored files from language statistics
Dependencies/* linguist-vendored
*.lib filter=lfs diff=lfs merge=lfs binary
*.dll filter=lfs diff=lfs merge=lfs binary
*.exp filter=lfs diff=lfs merge=lfs binary
